<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button color="dark" [routerLink]="['/user-list']" showWhen="ios, android"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark" text-center>Crear</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="userCreateForm" (submit)="userCreate()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>

        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Cree su cuenta !</h3>
          </div>

          <div padding>
            <ion-item>
              <ion-label position="stacked">Nombre: <span style="color: red" ion-text *ngIf="userCreateForm.get('firstname').hasError('required')">*</span></ion-label>
              <ion-input type="text" placeholder="Ingrese nombre" formControlName="firstname" clearInput></ion-input>
            </ion-item>
            <p *ngIf="userCreateForm.get('firstname').errors && userCreateForm.get('firstname').touched || userCreateForm.get('firstname').dirty">
              <span style="color: red" ion-text *ngIf="userCreateForm.get('firstname').hasError('required')">Este valor es requerido</span>
              <span style="color: red" ion-text *ngIf="userCreateForm.get('firstname').hasError('pattern')">Este campo no acepta números</span>
            </p>

            <ion-item>
              <ion-label position="stacked">Apellido:<span style="color: red" ion-text *ngIf="userCreateForm.get('lastname').hasError('required')">*</span></ion-label>
              <ion-input type="text" placeholder="Ingrese apellido" formControlName="lastname" clearInput></ion-input>
            </ion-item>
            <p *ngIf="userCreateForm.get('lastname').errors && userCreateForm.get('lastname').touched || userCreateForm.get('lastname').dirty">
              <span style="color: red" ion-text *ngIf="userCreateForm.get('lastname').hasError('required')">Este valor es requerido</span>
              <span style="color: red" ion-text *ngIf="userCreateForm.get('lastname').hasError('pattern')">Este campo no acepta números</span>
            </p>

            <ion-item>
              <ion-label position="stacked">Identificación:<span style="color: red" ion-text *ngIf="userCreateForm.get('identification').hasError('required')">*</span></ion-label>
              <ion-input type="text" maxlength="15" placeholder="Ingrese identificación" formControlName="identification" clearInput></ion-input>
            </ion-item>
            <p *ngIf="userCreateForm.get('identification').errors && userCreateForm.get('identification').touched || userCreateForm.get('identification').dirty">
              <span style="color: red" ion-text *ngIf="userCreateForm.get('identification').hasError('required')">Este valor es requerido</span>
              <span style="color: red" ion-text *ngIf="userCreateForm.get('identification').hasError('pattern')">Este campo no acepta letras</span>
            </p>

            <ion-item>
              <ion-label position="stacked">Fecha Nacimiento:<span style="color: red" ion-text *ngIf="userCreateForm.get('birthdate').hasError('required')">*</span></ion-label>
              <ion-datetime display-format="DD-MM-YYYY" placeholder="Ingrese fecha nacimiento" formControlName="birthdate"></ion-datetime>
            </ion-item>
            <p *ngIf="userCreateForm.get('birthdate').errors && userCreateForm.get('birthdate').touched || userCreateForm.get('birthdate').dirty">
              <span style="color: red" ion-text *ngIf="userCreateForm.get('birthdate').hasError('required')">Este valor es requerido</span>
            </p>
          </div>

          <div padding>
            <ion-button type="submit" [disabled]="!userCreateForm.valid" color="success" shape="round" expand="full">Registrarse</ion-button>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>

</ion-content>
